# Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^philhenning.co.uk[nc]
RewriteRule ^(.*)$ http://www.philhenning.co.uk/$1 [r=301,nc]

# Custom 404 errors
ErrorDocument 404 /pages/errors/404.php

