/*
THEME
background black = rgb(64, 64, 64) || HEX #404040
Green (main) = rgb(150, 185, 70) || HEX #96B946
Orange (main) = rgb(240, 135, 15) || HEX #F0870F
Text = white
*/

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #404040;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    font-weight: 100;
}

.container {
    margin: 0 auto 0;
    width: 1000px;
    text-align: center;
    position: relative;
}

/* ****************************** */
/* header */
/* ****************************** */

.headingSection{
    position: fixed;
    text-align: center;
    background-color: #404040;
    width: 1000px;
    z-index: 100;
}

.logo {
    padding-top: 20px;
}

.navigation {
    padding: 0px 0px 5px 0px;
    color: white;
    margin-bottom: 10px;
}

/* ****************************** */
/*  */
/* ****************************** */

.home {
    text-align: left;
    margin: 1px 0px 0px;
    padding: 20px 190px 0px;
    color: white;
}

/* ****************************** */
/* article*/
/* ****************************** */

#philhenning{
    position: relative;
    top: 130px;
    margin-bottom: 50px;
}


/* ****************************** */
/* Profile */
/* ****************************** */

#profileSection{
    margin: 0 auto 0;
    text-align: center;
    width: 700px;
}

.profileParagraph {
    color: white;
    text-align: left;
    margin-bottom: 20px;
}


/* ****************************** */
/*  */
/* ****************************** */

td p {
    color: black;
    margin-top: 0px;
    padding-top: 0px;
}

p {
    color: red;
}

/* ****************************** */
/* skillsTable */
/* ****************************** */

.skillsTable{
    width: 100%;
    padding: 0;
    margin:0;
    margin-bottom: 30px;
    text-align: left;
    border-spacing: 0;
    border-width: 0;
    border-color: white;
    border-style: solid;
}

.skillsTable th {
    text-align: center;
    background: #777777;
    color: #96B946;
    height: 30px;  
}

.skillsTable th:nth-child(1){
    visibility: hidden;
}

.skillsTable td:nth-child(1){
    visibility: hidden;
}

.skillsTable th:nth-child(3){
    visibility: hidden;
}

.skillsTable td:nth-child(5){
    visibility: hidden;
}

.skillsTable tr:nth-child(even) {
    background: #cccccc;
}

.skillsTable tr:nth-child(odd) {
    background: #eeeeee;
}

.skillsTable td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444444;
    vertical-align: top;
}

.skillsTable td:nth-child(2){
    padding-left: 5px;
}

.skillsTable td:nth-child(3){
    padding-left: 20px;
}

.skillsTable td:nth-child(4){
    padding-left: 10px;
    padding-right: 10px;
}

.DevLogo {
    height: 50px;
    border: 0px;
}

/* ****************************** */
/* experienceTable */
/* ****************************** */

.experienceTable{
    width: 100%;
    padding: 0;
    margin:0;
    margin-bottom: 30px;
    text-align: left;
    border-spacing: 0;
    border-width: 0;
    border-color: white;
    border-style: solid;
}

.experienceTable th {
    text-align: center;
    background: #777777;
    color: #96B946;
    height: 30px;  
}

.experienceTable th:nth-child(1){
    visibility: hidden;
}

.experienceTable td:nth-child(1){
    visibility: hidden;
}

.experienceTable th:nth-child(3){
    visibility: hidden;
}

.experienceTable td:nth-child(4){
    visibility: hidden;
}

.experienceTable tr:nth-child(even) {
    background: #cccccc;
}

.experienceTable tr:nth-child(odd) {
    background: #eeeeee;
}

.experienceTable td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #444444;
    vertical-align: top;
}

.experienceTable td:nth-child(2){
    padding-left: 20px;
}

.experienceTable td:nth-child(3){
    padding-left: 10px;
    padding-right: 10px;
}

/* ****************************** */
/*  */
/* ****************************** */

table.login {
    width: 40%;
    margin: 0 auto 0;
}

.login td:nth-child(1) {
    text-align: right;;
}

a.login, a.logout {
    padding-bottom: 20px;
}

.projects td:nth-child(4) {
    text-align: center;
}

a:visited, a:link {
    color: #F0870F;
    text-decoration: none; 
    font-weight: bold;
}

a:hover {
    color: white; 
    text-decoration: none; 
    font-weight: bold;
}

th a:visited, th a:link { 
    color:  #96B946; 
    text-decoration: underline;
    font-weight: bold;
}

th a:hover {
    color: white;
    text-decoration: none; 
    font-weight: bold;
}

div h1 { 
    text-align: left;
    color: #96B946;
    margin: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-weight: 800;    
}

div.right{
    text-align: right;
    min-height: 20px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-color: #AAA;
}

/* ****************************** */
/*  Footer */
/* ****************************** */

.footer {
    position: fixed;
    margin: 0 auto 0px;
    width: 900px;
    bottom: 0;  
    font-size: 12px;
    background-color: #404040;
    color: white;
}